# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore IDE-Files
/.settings/
/.idea/
/.gradle/
.classpath
.project
*.iml
*.versionsBackup
*.ipr
*.iws

# Ignore build output directory
build
/target/
/bin/
/out/

# The local.properties files contains the installation path of the sdk wich can be different
local.properties

# Ignore sepcific settings for different developer pc's
gradle.properties

# Ignore experimental library
/library-painter/